@import "../styles/Styles.scss";

.submit-button-container {
    background-color: $ORANGE;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $WHITE;
    font-weight: $BOLD;
}

.submit-button-container:hover {
    background-color: $WHITE;
    color: $ORANGE;
}