@import "../styles/Styles.scss";

.thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient($MEDIUM_DARK_BLUE, $VERY_DARK_BLUE 75%);
    width: 350px;
    height: 350px;
    border-radius: 30px;
    padding: 40px;
}

.image-container {
    padding-top: 5px;
}

.rate-number-container {
    background-color: $DARK_BLUE;
    color: $ORANGE;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}

.text-container {
    text-align: center;
    padding-bottom: 15px;

    &__title {
        margin: 0 0 15px 0;
    }

    &__description {
        color: $LIGHT_GREY;
        padding: 0 5px 0 5px;
    }
}

@media screen and (max-width: $MOBILE) {
    .thank-you-container {
        width: 290px;
        height: 350px;
        padding: 30px 20px 30px 20px;
        border-radius: 20px;
    }
}