@import "./styles/Styles.scss";

.rating-container {
    background-color: $VERY_DARK_BLUE;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    padding: 40px;
}

.fluid-button-container {
    display: flex;
    justify-content: space-between;
}