@import "../styles/Styles.scss";

.button-container {
    background-color: $DARK_BLUE;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $MEDIUM_GREY;
    border: 0;
}

.button-container:hover {
    background-color: $ORANGE;
    color: $WHITE;
}


.button-container--active {
    background-color: $LIGHT_GREY;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $WHITE;
    border: 0;
}

@media screen and (max-width: $MOBILE) {
    .button-container {
        width: 45px;
        height: 45px;
    }

    .button-container--active {
        width: 45px;
        height: 45px;
    }
}