@import "../styles/Styles.scss";

.submit-button-container {
    background-color: $ORANGE;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $WHITE;
    font-weight: $BOLD;
    border: 0;
}

.submit-button-container:hover {
    background-color: $WHITE;
    color: $ORANGE;
}

.submit-button-container:disabled {
    background-color: $DARK_BLUE;
    color: $MEDIUM_GREY;
}