@import "../styles/Styles.scss";

.rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: $VERY_DARK_BLUE;
    background-image: linear-gradient($MEDIUM_DARK_BLUE, $VERY_DARK_BLUE 75%);
    width: 350px;
    height: 350px;
    border-radius: 30px;
    padding: 40px;

    &__title {
        margin: 0;
    }

    &__description {
        color: $LIGHT_GREY;
    }
}

.button-row-container {
    display: flex;
    justify-content: space-between;
}